stages:
  - test
  - build

variables:
  NODE_VERSION: 22
  FRONTEND_IMAGE: $CI_REGISTRY_IMAGE/frontend
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA

cache:
  key:
    files:
      - package-lock.json   # Cache invalidé si package-lock.json change
  paths:
    - .npm/  # Évite de re-télécharger les packages

default:
  before_script:
    - cd frontend

frontend-tests:
  stage: test
  image: trion/ng-cli-karma:latest   # Angular + Chrome inclus
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^feat\/.*/'
    - if: '$CI_COMMIT_BRANCH == "dev"'
    - if: '$CI_COMMIT_BRANCH == "main"'
  script:
    - npm ci
    - npm run test:ci
  coverage: '/Statements\s*:\s*(\d+\.?\d*)%/'        # Pour UI GitLab
  artifacts:
    when: always
    reports:
      junit: coverage/junit.xml       # Pour tests JUnit ds GitLab
    paths:
      - coverage/
    expire_in: 1 week
  allow_failure: false

build-frontend:
  stage: build
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
  image: docker:24
  services:
    - docker:24-dind
  before_script:
    - cd frontend
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"
  script:
    - docker build \
      --build-arg NODE_VERSION=${NODE_VERSION} \
      -t ${FRONTEND_IMAGE}:${IMAGE_TAG} \
      -t ${FRONTEND_IMAGE}:latest .
    - docker push ${FRONTEND_IMAGE}:${IMAGE_TAG}
    - docker push ${FRONTEND_IMAGE}:latest

