# --- Global ---
.DS_Store
*.log
.vscode/
.idea/

# --- VPS ---
Config-VPS/

# --- Environnement ---
.env.dev

# --- Node / Angular ---
frontend/node_modules/
frontend/dist/
frontend/.angular/

# --- Java / Maven ---
backend/target/
backend/.settings/
backend/.classpath
backend/.project

# --- OS junk ---
Thumbs.db