stages:
  - trigger

# Désactive temporaire des pipelines automatiques
workflow:
  rules:
    - if: "$CI_COMMIT_BRANCH"
    #- when: never  # Désactive automatiquement

frontend-pipeline:
  stage: trigger
  rules:
    - changes: ["frontend/**/*"]
  trigger:
    include: frontend/.gitlab-ci.yml
    strategy: depend # Attend la fin du pipeline enfant

backend-pipeline:
  stage: trigger
  rules:
    - changes: ["backend/**/*"]
  trigger:
    include: backend/.gitlab-ci.yml
    strategy: depend # Attend la fin du pipeline enfant
