<app-auth-layout>
  <h1 class="text-center mb-6">Inscription</h1>
  <div class="mx-auto w-full md:px-18">
    <!-- Message succès -->
    @if (successMessage()) {
      <output
        class="alert alert-success mb-6 block text-center"
        aria-live="polite"
      >
        {{ successMessage() }}
      </output>
    }

    <!-- Message erreur -->
    @if (errorMessage()) {
      <output
        class="alert alert-danger mb-6 block"
        aria-live="assertive"
      >
        {{ errorMessage() }}
      </output>
    }

    <app-register-form
      [loading]="loading()"
      (formSubmit)="handleSubmit($event)"
      (formChange)="clearError()"
    ></app-register-form>

    <p class="text-center mt-6 text-md font-semibold">
      <a routerLink="/login" class="text-blue-400 hover:text-blue-500">Déjà un compte ?</a>
    </p>
  </div>
</app-auth-layout>
