<form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-6">
  <div class="space-y-5">
    <!-- Email -->
    <div>
      <label class="form-label text-2xl" for="email">Email</label>
      <input
        id="email"
        type="email"
        formControlName="email"
        class="form-input"
        placeholder="email@exemple.com"
      />

      <!-- Error message -->
      @if (f.email.invalid && (f.email.touched || f.email.dirty)) {
        <p id="email-error" class="form-error" role="alert">
          @if (f.email.errors?.['required']) {
            L'email est requis.
          }
          @if (f.email.errors?.['email']) {
            Veuillez saisir un email valide.
          }
        </p>
      }
    </div>

    <!-- Password -->
    <div class="form-group">
      <label class="form-label text-2xl" for="password">Mot de passe</label>
      <input
        id="password"
        type="password"
        formControlName="password"
        class="form-input"
        placeholder="Votre mot de passe"
      />
      <!-- Error message -->
      @if (f.password.invalid && (f.password.dirty || f.password.touched)) {
        <p id="password-error" class="form-error" role="alert">
          @if (f.password.errors?.['required']) {
            Le mot de passe est requis.
          }
          @if (f.password.errors?.['minlength']) {
            Le mot de passe doit contenir au moins 8 caractères.
          }
          @if (f.password.errors?.['maxlength']) {
            Le mot de passe doit faire moins de 64 caractères.
          }
        </p>
      }
    </div>
  </div>

  <!-- Remember me / Mdp oublié -->
  <div class="flex flex-col md:flex-row gap-4 md:gap-0 items-center justify-between text-md">
    <label class="flex items-center gap-2 cursor-pointer select-none">
      <input type="checkbox" formControlName="rememberMe" class="w-4 h-4" />
      <span>Se souvenir de moi</span>
    </label>

    <a routerLink="/reset-password" class="hover:underline">Mot de passe oublié ?</a>
  </div>

  <!-- Button -->
  <button
    type="submit"
    class="pm-btn pm-btn--primary pm-btn--auth w-full"
    [disabled]="form.invalid"
  >
    Connexion
  </button>
</form>
