<app-auth-layout>
  <h2 class="mb-6 text-center">Nouveau mot de passe</h2>

  <p class="mb-8 text-center text-neutral-grey2">
    Veuillez définir un nouveau mot de passe pour votre compte.
  </p>

  <div class="mx-auto w-full md:px-18">
    <!-- Message succès -->
    @if (successMessage()) {
      <div class="alert alert-success mb-6 text-center" role="status">
        {{ successMessage() }}
      </div>
    }

    <!-- Message erreur -->
    @if (errorMessage()) {
      <div class="alert alert-danger mb-6" role="alert">
        {{ errorMessage() }}
      </div>
    }

    <app-reset-password-form
      [loading]="loading()"
      (formSubmit)="handlePasswordSubmit($event)"
      (formChange)="clearError()"
    ></app-reset-password-form>
  </div>
</app-auth-layout>
