# ==============================================
# Configuration PRODUCTION
# ==============================================
# ⚠️ Toutes les variables sont OBLIGATOIRES (depuis .env)
# ⚠️ Pas de valeurs par défaut

security:
  refresh-cookie:
    secure: true   # N’envoi le cookie que sur une connexion HTTPS (⚠️ pb en dev)
    same-site: Lax    # Anti-CSRF : envoyé ds la plupart des cas ("None" si urls front et back différentes = cross-site)

spring:
  # ====== JPA / HIBERNATE ======
  jpa:
    hibernate:
      ddl-auto: validate # Flyway gère la structure, pas Hibernate
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        #dialect: org.hibernate.dialect.PostgreSQLDialect

  # ====== FLYWAY : SVG migrations ======
  flyway:
    enabled: true
    locations: classpath:db/migration, classpath:db/seed
    schemas: public
    # Sécurité
    clean-disabled: true # Ne JAMAIS nettoyer en prod
    validate-on-migrate: true # Valider avant de migrer
    baseline-on-migrate: true # Pour DB existantes

  # ====== EMAIL SMTP ======
  mail:
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 10000 #ms
          timeout: 10000

# ====== SERVEUR ======
server:
  port: 8080  # Port interne du container Docker (derrière Nginx reverse proxy)
  forward-headers-strategy: framework
  compression:
    enabled: false  # C'est Nginx Docker qui gère la compression
  error:
    include-stacktrace: never
    include-message: always

# ====== HEALTH CHECK ======
# Désactiver le health check mail
management:
  health:
    mail:
      enabled: false

# ====== LOGGING MINIMAL ======
logging: # Seulement INFO et plus grave
  level:
    root: WARN
    com.powerme.backend: INFO
    org.springframework.web: WARN
    org.springframework.security: WARN
    org.hibernate: WARN

  # Logs sauvegardés en fichiers
  file:
    name: /app/logs/application.log

  logback:
    rolling policy:
      max-file-size: 50MB # Taille max d'un fichier
      max-history: 30 # Nombre de fichiers à garder
      total-size-cap: 1GB # Taille totale max
      file-name-pattern: ${LOG_FILE}.%d{yyyy-MM-dd}.%i.gz # Pattern de rotation

# ====== MODE DEBUG DÉSACTIVÉ ======
app:
  debug: false # Messages d'erreur génériques (sécurité)
  frontend-url: https://powerme-app.placoste.dev
