# ==============================================
# Configuration DEV
# ==============================================

spring:
  # ====== BASE DE DONNÉES ======
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:powerme_dev}
    username: ${DB_USER:postgres}
    password: ${DB_PASS:postgres}
    driver-class-name: org.postgresql.Driver

  # ====== JPA / HIBERNATE ======
  jpa:
    hibernate:
      ddl-auto: validate # Hibernate modifie automatiquement la BDD
    show-sql: true # Affiche les requêtes SQL dans les logs
    properties:
      hibernate:
        format_sql: true # Formate les requêtes SQL (plus lisible)
        use_sql_comments: true # Ajoute des commentaires dans les requêtes
        database-platform: org.hibernate.spatial.dialect.postgis.PostgisDialect

  # ====== FLYWAY : SVG migrations ======
  flyway:
    enabled: true
    baseline-on-migrate: true # Si BDD existe déjà
    locations: classpath:db/migration
    validate-on-migrate: true
    clean-disabled: true

  # ====== MAIL : MailTrap ======
  mail:
    protocol: smtp
    host: sandbox.smtp.mailtrap.io
    port: 2525
    username: 4f87aafa32de42
    password: f6f97d0480ef78


# ====== SERVEUR ======
server:
  port: ${SERVER_PORT:8081} # Port du backend

# ====== LOGGING DÉTAILLÉ ======
logging:
  level:
    root: INFO # Niveau global
    com.powerme.backend: DEBUG # Tes classes en mode DEBUG (+ de détails)
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG # Logs SQL détaillés
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE  # Paramètres SQL

# ====== MODE DEBUG ACTIVÉ ======
app:
  debug: true  # Messages d'erreur détaillés

