name: Trigger GitLab CI for PR

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  trigger-gitlab-ci:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger GitLab pipeline as merge request event
        run: |
          curl -X POST \
            -H "JOB-TOKEN: ${{ secrets.GITLAB_JOB_TOKEN }}" \
            -F ref=main \
            -F "variables[CI_PIPELINE_SOURCE]=merge_request_event" \
            -F "variables[CI_MERGE_REQUEST_TARGET_BRANCH_NAME]=main" \
            -F "variables[CI_MERGE_REQUEST_SOURCE_BRANCH_NAME]=${{ github.head_ref }}" \
            "https://gitlab.com/api/v4/projects/${{ secrets.GITLAB_PROJECT_ID }}/pipeline"
