name: Trigger GitLab CI for PR

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  trigger-gitlab-ci:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger GitLab pipeline as merge request event
        run: |
          curl -X POST \
            -H "PRIVATE-TOKEN: ${{ secrets.GITLAB_PAT }}" \
            -H "Content-Type: application/json" \
            -d "{
                  \"ref\": \"main\",
                  \"variables\": [
                    {\"key\": \"CI_PIPELINE_SOURCE\", \"value\": \"merge_request_event\"},
                    {\"key\": \"CI_MERGE_REQUEST_TARGET_BRANCH_NAME\", \"value\": \"main\"},
                    {\"key\": \"CI_MERGE_REQUEST_SOURCE_BRANCH_NAME\", \"value\": \"${{ github.head_ref }}\"}
                  ]
                }" \
            "https://gitlab.com/api/v4/projects/${{ secrets.GITLAB_PROJECT_ID }}/pipeline"
    
