name: Trigger GitLab CI for PR

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  trigger-gitlab:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger GitLab pipeline as merge request event
        run: |
          curl -X POST \
            -F token=${{ secrets.GITLAB_TRIGGER_TOKEN }} \
            -F ref=${{ secrets.GITLAB_TARGET_BRANCH }} \
            -F "variables[CI_PIPELINE_SOURCE]=merge_request_event" \
            -F "variables[CI_MERGE_REQUEST_TARGET_BRANCH_NAME]=main" \
            -F "variables[CI_MERGE_REQUEST_SOURCE_BRANCH_NAME]=${{ github.head_ref }}" \
            "${{ secrets.GITLAB_URL }}/api/v4/projects/${{ secrets.GITLAB_PROJECT_ID }}/trigger/pipeline"
