name: Sync to GitLab

on:
    push:
        branches:
            - "**" # ← Synchronise TOUTES les branches

jobs:
    sync:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0 # Important pour récupérer tout l'historique

            - name: Sync to GitLab
              uses: keninkujovic/gitlab-sync@2255578444d23f254d08592bb8434084d29474d5
              with:
                  gitlab_url: ${{ secrets.GITLAB_URL }}
                  username: ${{ secrets.USERNAME }}
                  gitlab_pat: ${{ secrets.GITLAB_PAT }}
