name: Sync to GitLab

on:
    push:
        branches:
            - "**" # ← Synchronise TOUTES les branches

jobs:
    sync:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0 # Important pour récupérer tout l'historique
                  token: ${{ secrets.GITHUB_TOKEN }}

            - name: Sync to GitLab
              uses: keninkujovic/gitlab-sync@2.1.0
              with:
                  gitlab_url: ${{ secrets.GITLAB_URL }}
                  username: ${{ secrets.USERNAME }}
                  gitlab_pat: ${{ secrets.GITLAB_PAT }}
                  force_push: false # car force-push interdit sur gitLab main
